<button id="rzp-button1"
  data-key="<%= SolidusRazorpay::Gateway::RAZORPAY_KEY %>"
  data-currency="<%= SolidusRazorpay::Gateway::CURRENCY %>"
  data-color="<%= SolidusRazorpay::Gateway::COLOR %>"
  data-store-name="<%= @order.store.name %>"
  data-amount= "<%= @order.display_outstanding_balance.money.fractional %>"
  data-receipt= "<%= @order.number %>"
  data-name="<%= @order.bill_address.name %>"
  data-email="<%= @order.user.email %>"
  data-contact-number="<%= @order.bill_address.phone %>"
>
  <%= t('razorpay.pay_with_razorpay') %>
</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>